body{
    text-align: center;
}

.feedback_form{
    width: 300px;
    margin: 0 auto;  
}

.feedback_form input, .feedback_form textarea, .feedback_form button{
    width: 100%;
    height: 30px;
    border: 1px solid gray;
    margin: 15px 0;    
}
.feedback_form textarea{
    height: 100px;
    margin: 15px 0;    
}
.feedback_form button{
    cursor: pointer;    
}
.error{
    color: red;
}

.products{
    width: 300px;
    margin: 0 auto;  
}

.products__initial{
    width: 100%;
    margin: 0 15px;
}

.products__list-block{
    width: 100%;
    margin: 0 15px;
}

.products__item{
    list-style-type: none;
}
.hide{
    display: none;
}
.products__list, .products__feedback-list{
    padding: 0;
}
.products__feedback-item{
    list-style-type: none;    
    width: 100%;
    border: 1px solid gray;
    padding: 0;
}